
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="jiesao">
        <div class="jiesao-img">
            <div class="xie-img" >
                <img src="/src/assets/images/newgame/img01.jpg" alt="">
            </div>
            <div class="xie-img" >
                <img src="/src/assets/images/newgame/img02.jpg"alt="">
            </div>
            <div class="xie-img">
                <img src="/src/assets/images/newgame/img03.jpg" alt="">
            </div>
        </div>
        <div class="jiesao-size" >
            <p>经典再升级，蟠龙娱乐棋牌同步推行热门博弈玩法！</p>
            <p> 电子、真人、捕鱼火爆上线，上千款不同类型的游戏供玩家选择，全面收割棋牌游戏红利</p>
        </div>
    </div>
    </div>
   
    