<div class="r6">
        <br />
         <h1 class="text-center">便捷入款<span class="badge badge-secondary"></span></h1>
<div class="box" [@scrollAnimation2]="state2">
        <div class="">
             
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div class="container box">
                            <div id="content-1">
                                
                                    <div class="lottery2" style="float:left;">
                                            <div class="font1">
                                                        玩家提交存款订单后，系统将自动对账及上分，免去大量人工审核时间，平均4秒内，即可充值到帐。
                                               </div>
                                            </div>
                                            <div class="lottery1" style="float: left;">
                                                        <div class="font1">
                                                                        手机端及计算机端，全面支持支付宝/微信扫码支付，付款成功自动到账，无需提交入款申请。   </div>
                                                </div>
                                                <div class="lottery3"style="float: left;">
                                                                <div class="font1">
                                                                                已接入40多家的第三方支付，新支付接入只需1天，每月至少更新3款支付渠道以上。 </div>
                                                        </div>
                                   
                                    </div>
                                 <div id="content-2">  
                                         <div class="box3">
                                 <carousel>
                                          <slide>
                                                        <div class="lottery2">
                                                                        <div class="font1">
                                                                                        玩家提交存款订单后，系统将自动对账及上分，免去大量人工审核时间，平均4秒内，即可充值到帐。
                                                                            </div>
                                                                        </div>
                                                                      </slide>
                                         <slide>
                                                        <div class="lottery2">
                                                                        <div class="font1">
                                                                                        手机端及计算机端，全面支持支付宝/微信扫码支付，付款成功自动到账，无需提交入款申请。   </div>
                                                                
                                                        </div> 
                                                                      </slide>
                                         <slide>
                                                        <div class="lottery2">
                                                                        <div class="font1">
                                                                                        已接入40多家的第三方支付，新支付接入只需1天，每月至少更新3款支付渠道以上。 </div>
                                                                
                                                        </div> 
                                                                         </slide>
                                 </carousel>
                               
                                </div>
                </div>
        </div>
</div>    
                
        </div>    
</div>
</div>