
    <div class="intro_global">
        <div class="container">
     
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0;padding-right: 0;">
          <div class="intro-block-02 box">
              <div class="block-02-main1">
                  <div class="block-info" >  
                          <div class="info-top">
                              <div class="font-1">彩票游戏</div>
                              <div class="font-2">
                                  提供时下最热门、最齐全的彩票游戏，包括：六合彩、重庆时时彩、北京赛车、快三、福彩3D、幸运28、北京快乐8......满足玩家多变的需求。
                              </div>
                          </div>
                          <h4 class="game-sort-title">API：</h4>
                          <img src="/src/assets/images/intro/block01-logo.png" alt="">
                          <div class="game-sort-list black">
                              <h4 class="game-sort-title">GAME：</h4>
                              <ul class="game-sort">
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-41.png"><span>六合彩</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-42.png"><span>时时彩</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-43.png"><span>11选5</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-44.png"><span>快乐8</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-45.png"><span>快3</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-46.png"><span>北京赛车</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-47.png"><span>3D彩</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-48.png"><span>排列3</span></a>
                                  </li>
                                  <li>
                                      <a href=""><img src="/src/assets/images/intro/game-sort-icon-49.png"><span>双色球</span></a>
                                  </li>
                              </ul>
                          </div>
                  </div>
                </div>
              </div>
            </div>
          
         </div>
        </div>
    