
    <div class="intro_global">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="intro-block-02 box">
              <div class="block-02-main1">
                  <div class="block-info">  
                   
                          <div class="info-top">
                              <div class="font-1">棋牌扑克</div>
                              <div class="font-2">
                                  真人竞技【玩家对战】棋牌，激爽经典玩法，万人在线精彩对决，包括：抢庄牛牛、炸金花、通比牛牛、德州扑克、二十一点、二八杠、抢庄牌九...等多种棋牌麻将游戏
                              </div>
                          </div>
                          <h4 class="game-sort-title">API：</h4>
                          <img src="/src/assets/images/intro/block07-logo.png" alt="">
                          <div class="game-sort-list black">
                              <h4 class="game-sort-title">GAME：</h4>
                              <ul class="game-sort">
                                  <li>
                                      <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-10.png"><span>德州扑克</span></a>
                                  </li>
                                  <li>
                                      <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-01.png"><span>二八杠</span></a>
                                  </li>
                                  <li>
                                      <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-07.png"><span>斗地主</span></a>
                                  </li>
                                  <li>
                                      <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-04.png"><span>牛牛</span></a>
                                  </li>
                                  <li>
                                      <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-60.png"><span>21点</span></a>
                                  </li>
                                  <li>
                                      <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-61.png"><span>押庄龙虎</span></a>
                                  </li>
                              </ul>
                       
                      </div>
                  </div>
                </div>
              </div>
            </div>
           </div>
         </div>
        </div>
    