<div class="" [@scrollAnimation1]="state1">
    <div class="intro_global">
    <div class="">
      <div class="intro-block-02 box">
          <div class="block-02-main">
              <div class="block-info">
                  <div class="info-top">
                      <div class="font-1">电子游艺</div>
                      <div class="font-2">
                          基于丰富的玩法、视觉及声光效果，为客户提供超过千款机率游戏，包括：AG捕鱼、冰上曲棍球、地狱烈焰、糖果派对、水果拉霸、连环夺宝、复仇者联盟、美国队长......
                      </div>
                  </div>
                  <h4 class="game-sort-title">API：</h4>
                  <img src="/src/assets/images/intro/block04-logo.png" alt="">
                  <div class="game-sort-list">
                      <h4 class="game-sort-title">GAME：</h4>
                      <ul class="game-sort">
                          <li>
                              <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-31.png"><span>老虎机</span></a>
                          </li>
                          <li>
                              <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-32.png"><span>奖金老虎机</span></a>
                          </li>
                          <li>
                              <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-33.png"><span>视频扑克</span></a>
                          </li>
                          <li>
                              <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-34.png"><span>刮刮卡</span></a>
                          </li>
                          <li>
                              <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-35.png"><span>桌面游戏</span></a>
                          </li>
                      </ul>
                  </div>
              </div>
            </div>
          </div>
    </div>
      </div>
    </div>