<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-right:0;padding-left:0;">
<div class="adone">
       
        <div class="adtwo">
        
        </div>
    </div>
</div>
<div class="adone1">
    <div class="container">
        <div class="row" >
        <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" >
            <div class="block-01-main">
                <div class=info style="background-image:url(src/assets/images/advan/t1-1.png);background-position:left;" >
                    <div class=font-1>专业团队</div>
                    <div class=font-2>
                        十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
                    </div>
                </div>
                <div class=info style="background-image:url(src/assets/images/advan/t1-2.png);background-position:left;">
                  <div class=font-1>专业团队</div>
                  <div class=font-2>
                      十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
                  </div>
              </div>
              <div class=info style="background-image:url(src/assets/images/advan/t1-3.png);background-position:left;">
                <div class=font-1>专业团队</div>
                <div class=font-2>
                    十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
                </div>
            </div>
             
          </div>
     </div>
     
     <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" >
        <div class="block-01-main">
            <div class=info style="background-image:url(src/assets/images/advan/t1-4.png);background-position:left;">
              <div class=font-1>专业团队</div>
              <div class=font-2>
                  十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
              </div>
          </div>
          <div class=info style="background-image:url(src/assets/images/advan/t1-5.png);background-position:left;">
            <div class=font-1>专业团队</div>
            <div class=font-2>
                十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
            </div>
        </div>
        <div class=info style="background-image:url(src/assets/images/advan/t1-6.png);background-position:left;">
          <div class=font-1>专业团队</div>
          <div class=font-2>
              十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
          </div>
      </div>
         
      </div>
 </div>
 <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4" >
        <div class="block-01-main">
            <div class=info style="background-image:url(src/assets/images/advan/t1-4.png);background-position:left;">
              <div class=font-1>专业团队</div>
              <div class=font-2>
                  十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
              </div>
          </div>
          <div class=info style="background-image:url(src/assets/images/advan/t1-5.png);background-position:left;">
            <div class=font-1>专业团队</div>
            <div class=font-2>
                十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
            </div>
        </div>
        <div class=info style="background-image:url(src/assets/images/advan/t1-6.png);background-position:left;">
          <div class=font-1>专业团队</div>
          <div class=font-2>
              十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
          </div>
      </div>
    </div>
         
      </div>
 </div>
</div>
</div>

