
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-right: 0px;padding-left:0px;">
      <div class="generalize">
          <div class="generalize-size" >
              <img src="/src/assets/images/newgame/title04.png" >
              <p>蟠龙娱乐专注特色棋牌游戏，结合市场热点将不断创新，为广大棋牌运营商提供更加稳定、完美的在线棋牌产品，助力棋牌市场的万亿新蓝海！</p>
              <h3>稳定获利空间</h3>
              <span>收入来源以抽佣为主，玩家输赢，不影响盈利</span>
              <h3>代理独立管理</h3>
              <span>所有代理拥有自己的管理后台，数据独立清晰</span>
              <h3>出色盈利实力</h3>
              <span>“棋牌游戏 + 捕鱼/真人/电子”多元盈利模式</span>
              <h3>便利流量推广</h3>
              <span>通过搜索引擎，地方性公众号等精准定位推广</span>
              <h3>活动助力留存</h3>
              <span>轻松发布拉新、留存、找回流失等优惠活动</span>
          </div>
          <img src="/src/assets/images/newgame/5-bg.jpg" alt="...">
      </div>
    </div>
