<div class="" [@scrollAnimation1]="state1">
    <div class="intro_global">
    <div>
      <div class="intro-block-02 box">
          <div class="block-02-main">
              <div class="block-info">
                      <div class="info-top">
                          <div class="font-1">捕鱼专栏</div>
                          <div class="font-2">
                              延续经典捕鱼爆金玩法，鱼种丰富，玩法创新，达人的捕鱼天堂，包括：MW千炮捕鱼、AG捕鱼王、PT深海大赢家、GNS寻宝捕鱼王、GG捕鱼...等最全面的捕鱼游戏。
                          </div>
                      </div>
                      <h4 class="game-sort-title">API：</h4>
                      <img src="/src/assets/images/intro/block06-logo.png" alt="">
                      <div class="game-sort-list">
                          <h4 class="game-sort-title">GAME：</h4>
                          <ul class="game-sort">
                              <li>
                                  <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-50.png"><span>捕鱼王</span></a>
                              </li>
                              <li>
                                  <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-51.png"><span>捕鱼天下</span></a>
                              </li>
                              <li>
                                  <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-52.png"><span>千炮捕鱼</span></a>
                              </li>
                              <li>
                                  <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-53.png"><span>捕鱼达人</span></a>
                              </li>
                              <li>
                                  <a href="javascript:;"><img src="/src/assets/images/intro/game-sort-icon-54.png"><span>捕鱼大师</span></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
            </div>
    </div>
      </div>
    </div>