<div class="template">
    <div class="container">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
  
          <div id="content1" >
         <div class="box3">
              <img src="/src/assets/images/about/block02-icon-01.gif"/>
              <h3>5. 挑选精品模版</h3>
              <p>与蟠龙技术支持确认或提供您所选择的站点模板，并提交设计需求及相关资料，正式确立建站</p>
               </div>
                 <div class="box2">
                   <img src="/src/assets/images/about/block02-arrow.png"/>
                     </div>
                      <div class="box3">
                          <img src="/src/assets/images/about/block02-icon-01.gif" />
                          <h3>5. 挑选精品模版</h3>
                          <p>与蟠龙技术支持确认或提供您所选择的站点模板，并提交设计需求及相关资料，正式确立建站</p>
                     </div>
                       <div class="box2">
                      <img src="/src/assets/images/about/block02-arrow.png"/>
                    </div>
                <div  class="box3">
                     <img src="/src/assets/images/about/block02-icon-01.gif"/>
                     <h3>5. 挑选精品模版</h3>
                     <p>与蟠龙技术支持确认或提供您所选择的站点模板，并提交设计需求及相关资料，正式确立建站</p>
                  </div>
                </div>                     
            
                <div id="content2">  
                                         
                    <carousel>
                             <slide>
                                <div class="box3">
                                    <img src="/src/assets/images/about/block02-icon-01.gif"/>
                                    <h3>5. 挑选精品模版</h3>
                                    <p>与蟠龙技术支持确认或提供您所选择的站点模板，并提交设计需求及相关资料，正式确立建站</p>
                                     </div>
                                                         </slide>
                            <slide>
                                <div class="box3">
                                    <img src="/src/assets/images/about/block02-icon-01.gif"/>
                                    <h3>5. 挑选精品模版</h3>
                                    <p>与蟠龙技术支持确认或提供您所选择的站点模板，并提交设计需求及相关资料，正式确立建站</p>
                                     </div>
                                                         </slide>
                            <slide>
                                <div class="box3">
                                    <img src="/src/assets/images/about/block02-icon-01.gif"/>
                                    <h3>5. 挑选精品模版</h3>
                                    <p>与蟠龙技术支持确认或提供您所选择的站点模板，并提交设计需求及相关资料，正式确立建站</p>
                                     </div>
                                                            </slide>
                    </carousel>
                  
       
   </div>
    </div>
    </div>
</div>