        
<div class="box" [@scrollAnimation]="statea1">
<div class="bottom"> 
  <div class="container"> 
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div >
      <div class="title">
        <h2> 服务流程</h2>
      </div>  
      <ul class="m-2-list step-list">
          <li>
              <span class="step-img step-1"></span>
              <span class="m-2-title">1. 恰谈合作意向</span><br>
              <span class="m-2-c">与蟠龙娱乐的在线客服沟通您的包网内容，所选择套餐方案等等，初步达成合作意向；</span>
          </li>
          <li class="down-arrow-block"></li>
          <li>
              <span class="step-img step-2"></span>
              <span class="m-2-title">2. 了解费用占成</span><br>
              <span class="m-2-c">初步确认合作方案后，蟠龙娱乐会向您传送《合作细节》文档，务必了解套餐各项费用</span>
          </li>
          <li class="down-arrow-block"></li>
          <li>
              <span class="step-img step-3"></span>
              <span class="m-2-title">3. 签订合作协议</span><br>
              <span class="m-2-c">费用及占成方式得到您的认可后，蟠龙将向您发送《合作文档》档；</span>
          </li>
          <li class="down-arrow-block"></li>
          <li>
              <span class="step-img step-4"></span>
              <span class="m-2-title">4. 缴纳相关费用</span><br>
              <span class="m-2-c">一旦您的合作表格经过审核后，您需要缴纳相关费用（如开版费、月服务费等）之后方能进</span>
          </li>
      </ul>
    </div> 

</div> 
</div>
  </div>
</div>