
<div class="tech-block-01" style="background-color: black">
    <div class="tech-block-01-bg"></div>
    <div class="container">
        <div class="title">联系我们</div>
        <div class="block-01-main ">
            <div class="font-block">
                <div class="font-2">
                    与您共同创造最大价值是蟠龙娱乐不懈努力的目标，蟠龙娱乐开展的合作伙伴计划，是为满足不同客户的不同合作需求，有针对性的给予提供资源和支撑，如培训、认证、测试环境、营销和销售支撑、奖励等，确保您与我们一起实现价值。
                    <div style="font-size: 18px;color: #947b4d; margin: 10px 0;">
                        蟠龙与知名品牌合作，蟠龙亦乐于携手初创品牌共同发展。</div>
                    <span style="font-size: 18px;">期待与您共建蟠龙，共创未来！</span>
                </div>
                <div class="font-2" style="border: 1px solid #cbb68f; padding: 15px; margin-top: 20px;  padding-bottom:20px;">
                    <span class="col ic1 cbox">Skype：hongtubet</span> <span class="col ic5 cbox">郵箱：market.blueprint@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
</div>


