
  <div class="r7">
<div class="box" [@scrollAnimation3]="state3">
        <div class="r8">
            <br>
                  <h1 style="text-align: center;">全方位服务</h1>
                   

        
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div id="content-1">
                            <div class="last" style="height:550px;">  
                        <div class="block-01-main">
                                <div class=info>
                                    <div class=font-1>专业团队</div>
                                    <div class=font-2>
                                        十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
                                    </div>
                                </div>
                                <div class=info>
                                    <div class=font-1>产品多样</div>
                                    <div class=font-2>
                                        蟠龙深知产品多样化能够帮助您在激烈的市场竞争中占得优势，多年来不断的整合市场上博彩游戏，为游戏供货商整合标准接口的同时，更为您站点上的玩家提供更多产品选择；
                                    </div>
                                </div>
                                <div class=info>
                                    <div class=font-1>持续创新</div>
                                    <div class=font-2>
                                        蟠龙有专业的产品需求团队，常年全天候不断探索市场发展方向；智能优惠活动、DIY竞猜活动、快速充值中心等行业独一无二创新产品均来自于蟠龙产品部门；
                                    </div>
                                </div>
                                <div class=info>
                                    <div class=font-1>贴心服务</div>
                                    <div class=font-2>
                                        蟠龙将为您配置一对一的VIP商务经理，随时聆听您的意见，您所想要的，将会是蟠龙努力的方向；
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                        <div id="content-2">
                                <div class="block-01-main">
                                        <div class=info>
                                            <div class=font-1>专业团队</div>
                                            <div class=font-2>
                                                十一年的游戏研发团队，十五年的网络安全团队，亚洲一流的博彩项目方案解决团队，蟠龙顶级的团队配置，将是您坚强的后盾；
                                            </div>
                                        </div>
                                        <div class=info>
                                            <div class=font-1>产品多样</div>
                                            <div class=font-2>
                                                蟠龙深知产品多样化能够帮助您在激烈的市场竞争中占得优势，多年来不断的整合市场上博彩游戏，为游戏供货商整合标准接口的同时，更为您站点上的玩家提供更多产品选择；
                                            </div>
                                        </div>
                                        <div class=info>
                                            <div class=font-1>持续创新</div>
                                            <div class=font-2>
                                                蟠龙有专业的产品需求团队，常年全天候不断探索市场发展方向；智能优惠活动、DIY竞猜活动、快速充值中心等行业独一无二创新产品均来自于蟠龙产品部门；
                                            </div>
                                        </div>
                                        <div class=info>
                                            <div class=font-1>贴心服务</div>
                                            <div class=font-2>
                                                蟠龙将为您配置一对一的VIP商务经理，随时聆听您的意见，您所想要的，将会是蟠龙努力的方向；
                                            </div>
                                        </div>
                                    </div>
                                </div>
               
            
    </div>
                
</div>