
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-right:0px;padding-left:0;">
<div class="download">
    <div class="yi-img" style="width: 100%;">
        <img src="/src/assets/images/newgame/about01.png" class="d-img d-img1" style="top: 42.5%;left: 13%;z-index: 10;" alt="">
        <img src="/src/assets/images/newgame/about02.png" class="d-img d-img2" style="top: 19%;left: 10%;width: 11%;" alt="">
        <img src="/src/assets/images/newgame/about03.png" class="d-img d-img3" style="top: 21%;left: 21%; width: 10%;z-index: 8;" alt="">
        <img src="/src/assets/images/newgame/about04.png" class="d-img d-img4" style="top: 32%;left: 22%; width: 30%;" alt="">
        <img src="/src/assets/images/newgame/about05.png" class="d-img d-img5" style="top: 13%;left: 29%;" alt="">
        <img src="/src/assets/images/newgame/about06.png" class="d-img d-img6" style="top: 52%;left: 42%;width: 11%;" alt="">
        <img src="/src/assets/images/newgame/about07.png" class="d-img d-img7" style="top: 10%;left: 83%;width: 16%;" alt="">
    </div>

    <div class="center" style="margin-left:50%;">
        <img src="/src/assets/images/newgame/title01.png" class="mb20" style="width: 80%;" alt="">
        <p>蟠龙娱乐对接业内知名老牌棋牌开发商，全力打造一比一现金模式棋牌游戏。PC、H5、APP三端数据互通，玩家随时随地想玩就玩，快捷存取，一款最专业，最受欢迎的“国名游戏”</p>
        <img src="/src/assets/images/newgame/QR.png" class="dis-in box" alt="">
        <!--<img src="/src/assets/images/newgame/qrandroid.jpg" class="dis-in wow fadeInRightBig"   style="animation-delay: 1.5s;" alt="">-->
    </div>
</div>
</div>
