<div class="slide-container">
    <carousel>
        <slide>
            <img src="/src/assets/images/newgame/banner01.jpg" alt="first slide" style="display: block; width: 100%;">
          </slide>
          <slide>
              <img src="/src/assets/images/newgame/banner01.jpg" alt="first slide" style="display: block; width: 100%;">
            </slide>
        
      </carousel>
      </div>


<div class="">

  <app-ngame1></app-ngame1>

</div> 

<div class="">

    <app-ngame2></app-ngame2>
  
</div>

<div class="">

    <app-ngame3></app-ngame3>
  
  </div>

  <div class="">

      <app-ngame4></app-ngame4>
    
    </div>
     
    <div class="">

        <app-ngame5></app-ngame5>
      
      </div>

