.slide-container
{
    max-height:75%;
}


@media screen and (max-width:1366px){
    .slide-container
    {
        max-height:29%;
    }


}

@media screen and (max-width:768px){
    .slide-container
    {
        max-height:28%;
    }


}
@media screen and (max-width:568px){
    .slide-container
    {
        max-height:23%;
    }


}