<div class="box" [@scrollAnimation1]="state1"> 

              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0px;padding-right: 0px;">
                <div id="desktop">
                  <div class="mid1">
                      <div class="mid2">
                <div style="margin-left:55%;padding-top:5%;padding-bottom:5%">

                <div class="title">服务方案</div>
                <p style="width:100%;font-size:80%;">蟠龙娱乐提供多样化的合作方案，任何可以使合作的双方互赢、互利的合理方案，蟠龙定会积极的响应！<br>
                    服务方案：</p>
                   
                  <div class="fanan-menu">
                    
                  <div class="fanan">
                 
                    <span class="fanan-img"><img src="/src/assets/images/about/fanan-img-bw.png">   <div class="overlay"> </div></span>   
                    <span class="fanan-t">平台包网</span>
                    <span class="fanan-c">为您提供托管式的博彩站点进行合作<br>您只需发展业务，其它交给蟠龙娱乐</span>
                
                    </div>
                  </div>

                    <p style="width:70%;font-size:80%;">2018年1月1日前加入蟠龙娱乐， 真人报表每月累计达到100万，即可0抽成接入【皇冠体育系统】 每月平均10,000场现场滚球，足球、篮球、羽毛球、棒球、电子竞技等应有尽有。</p>
                  </div>
                  </div>
                </div>
          </div>
          <div id="phone">
              <div class="mid1" style="padding-left:3%;">
            <div class="title">服务方案</div>
            <p style="width:90%;font-size:80%;">蟠龙娱乐提供多样化的合作方案，任何可以使合作的双方互赢、互利的合理方案，蟠龙定会积极的响应！<br>
                服务方案：</p>
               
   
              <div class="fanan">
             
                <span class="fanan-img"><img src="/src/assets/images/about/fanan-img-bw.png"> </span>   
                <span class="fanan-t">平台包网</span>
                <span class="fanan-c">为您提供托管式的博彩站点进行合作<br>您只需发展业务，其它交给蟠龙娱乐</span>
            
                </div>
            
                <p style="width:90%;font-size:80%;">2018年1月1日前加入蟠龙娱乐， 真人报表每月累计达到100万，即可0抽成接入【皇冠体育系统】 每月平均10,000场现场滚球，足球、篮球、羽毛球、棒球、电子竞技等应有尽有。</p>
         
            </div>
      </div>
        </div>
  
</div>