
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-right: 0px;padding-left: 0px;">
<div class="sole">
    <div class="bgc-img">
        <div class="bgc-img-size center">
            <img src="/src/assets/images/newgame/title03.png" style="margin-left:17%;margin-top:1%;">
            <p>蟠龙娱乐棋牌，全力打造更舒适游戏环境，致力为玩家带来更愉悦的游戏体验。</p>
            <p> 根据行业数据调查，一般棋牌包网的玩家玩游戏最长可达7小时。</p>
            <p> 但是蟠龙棋牌包网的界面，同玩家坚持9小时后才会眼镜轻微疲劳。</p>
        </div>
        <div id="carousel-example-generic1" class="carousel slide ">
     
            <carousel>
                <slide>
                    <div class="item active">
                        <img src="/src/assets/images/newgame/phone01.png" class="lunbo-img1" alt="...">
                        <img src="/src/assets/images/newgame/font01.png" class="lunbo-img2" alt="...">
                    </div> </slide>
                <slide>
                    <div class="item">
                        <img src="/src/assets/images/newgame/phone02.png" class="lunbo-img1" alt="...">
                        <img src="/src/assets/images/newgame/font02.png" class="lunbo-img2" alt="...">
                    </div> </slide>
                <slide>
                    <div class="item">
                        <img src="/src/assets/images/newgame/phone03.png" class="lunbo-img1" alt="...">
                        <img src="/src/assets/images/newgame/font03.png" class="lunbo-img2" alt="...">
                    </div> </slide>
                  <slide>
                      <div class="item">
                          <img src="/src/assets/images/newgame/phone04.png" class="lunbo-img1" alt="...">
                          <img src="/src/assets/images/newgame/font04.png" class="lunbo-img2" alt="...">
                      </div> </slide>
                    <slide>
                        <div class="item">
                            <img src="/src/assets/images/newgame/phone05.png" class="lunbo-img1" alt="...">
                            <img src="/src/assets/images/newgame/font05.png" class="lunbo-img2" alt="...">
                        </div>  </slide>
                      <slide>
                          <div class="item">
                              <img src="/src/assets/images/newgame/phone06.png" class="lunbo-img1" alt="...">
                              <img src="/src/assets/images/newgame/font06.png" class="lunbo-img2" alt="...">
                          </div> </slide>
              </carousel>
        </div>
    </div>
</div>
</div>
