
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-left: 0px;padding-right: 0px;">
            <div class="">
        <div class="gameplay" >
            <div class="sanduan">
                <img src="/src/assets/images/newgame/title01.png"  alt="">
                <p class="">蟠龙娱乐棋牌，玩法丰富，包含炸金花、抢庄牛牛、德州扑克等数十款经典休闲玩法，最快速上架棋牌新游戏，满足不同层次玩家的游戏需求</p>
            </div>
            <div id="carousel-example-generic" class="carousel slide box2" >
 
                <carousel>
                    <slide>
                        <div class="item">
                            <ul class="list-img1">
                                <li><img src="/src/assets/images/newgame/1-1.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-2.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-3.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-4.png" alt="..."></li>
                            </ul>
                            <ul class="list-img2">
                                <li><img src="/src/assets/images/newgame/1-5.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-6.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-7.png" alt="..."></li>
                            </ul>
        
                        </div>
                    </slide>
                    <slide>
                        <div class="item">
                            <ul class="list-img1">
                                <li><img src="/src/assets/images/newgame/1-8.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-9.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-10.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-11.png" alt="..."></li>
                            </ul>
                            <ul class="list-img2">
                                <li><img src="/src/assets/images/newgame/1-12.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-13.png" alt="..."></li>
                                <li><img src="/src/assets/images/newgame/1-14.png" alt="..."></li>
                            </ul>
                        </div> </slide>
                        <slide>
                            <div class="item">
                                <ul class="list-img1">
                                    <li><img src="/src/assets/images/newgame/1-8.png" alt="..."></li>
                                    <li><img src="/src/assets/images/newgame/1-9.png" alt="..."></li>
                                    <li><img src="/src/assets/images/newgame/1-10.png" alt="..."></li>
                                    <li><img src="/src/assets/images/newgame/1-11.png" alt="..."></li>
                                </ul>
                                <ul class="list-img2">
                                    <li><img src="/src/assets/images/newgame/1-12.png" alt="..."></li>
                                    <li><img src="/src/assets/images/newgame/1-13.png" alt="..."></li>
                                    <li><img src="/src/assets/images/newgame/1-14.png" alt="..."></li>
                                </ul>
                            </div> </slide>           
                            <slide>
                                <div class="item active">
                                    <ul class="list-img1">
                                        <li><img src="/src/assets/images/newgame/3-1.png" alt="..."></li>
                                        <li><img src="/src/assets/images/newgame/3-2.png" alt="..."></li>
                                        <li><img src="/src/assets/images/newgame/3-3.png" alt="..."></li>
                                        <li><img src="/src/assets/images/newgame/3-4.png" alt="..."></li>
                                    </ul>
                                    <ul class="list-img2">
                                        <li><img src="/src/assets/images/newgame/3-5.png" alt="..."></li>
                                        <li><img src="/src/assets/images/newgame/3-6.png" alt="..."></li>
                                        <li><img src="/src/assets/images/newgame/3-7.png" alt="..."></li>
                                    </ul>
                                </div></slide>
                                <slide>
                                    <div class="item">
                                        <ul class="list-img1">
                                            <li><img src="/src/assets/images/newgame/4-1.png" alt="..."></li>
                                            <li><img src="/src/assets/images/newgame/4-2.png" alt="..."></li>
                                            <li><img src="/src/assets/images/newgame/4-3.png" alt="..."></li>
                                            <li><img src="/src/assets/images/newgame/4-4.png" alt="..."></li>
                                        </ul>
                                        <ul class="list-img2">
                                            <li><img src="/src/assets/images/newgame/4-5.png" alt="..."></li>
                                            <li><img src="/src/assets/images/newgame/4-6.png" alt="..."></li>
                                            <li><img src="/src/assets/images/newgame/4-7.png" alt="..."></li>
                                        </ul>
                                    </div> </slide>
                  </carousel>

            </div>
    
        </div>

    
  </div>
  </div>