<div class="r4">
<div class="box" [@scrollAnimation1]="state1"> 
    <div class="r5">
 <h1 class="text-center" style="color:white;padding-top:1.5%;">合作商家<span class="badge badge-secondary"></span></h1><br>      
<div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
           <div id="content-desktop">
                    <ul class="main-list">
                        <li class="libg01">
                            <div class="content1">
                                <div class="title">视讯</div>
                                <div class="font">
                                    BBIN、AG、OPUS、EBET、SA、OG、
                                    <br>GD、DS 等等
                                </div>
                            </div>
                        </li>
                        <li class="libg02">
                            <div class="content1">
                                <div class="title">体育</div>
                                <div class="font">
                                    皇冠体育、沙巴体育、IM体育、BBIN体育、OPUS体育等等
                                </div>
                            </div>
                        </li>
                        <li class="libg03">
                            <div class="content1">
                                <div class="title">彩票</div>
                                <div class="font">
                                    KG彩票、BBIN彩票、LT彩票等等
                                </div>
                            </div>
                        </li>
                        <li class="libg04">
                            <div class="content1">
                                <div class="title">电子</div>
                                <div class="font">
                                    MG、PT、AG、BSG、BBIN、HABA、
                                    <br>PNG、DT、SpadeGaming、GG捕鱼等等
                                </div>
                            </div>
                        </li>
                      </ul>
                      <button class="btn btnone" style="text-align: center; margin-left: 44%; margin-top: 2%;margin-bottom:2%;" type="submit">More</button>
              
       </div> 
       <div  id="content-mobile">
           <div class="box3">
            <carousel>
                    <slide>
                            <div class="libg01">
                            <div class="content1">
                                    <div class="title">视讯</div>
                                    <div class="font">
                                        BBIN、AG、OPUS、EBET、SA、OG、
                                        <br>GD、DS 等等
                                    </div>
                                </div>
                            </div>
                 </slide>
                    <slide>
                            <div class="libg02">
                                    <div class="content1">
                                            <div class="title">体育</div>
                                            <div class="font">
                                                皇冠体育、沙巴体育、IM体育、BBIN体育、OPUS体育等等
                                            </div>
                                        </div>
                                    </div> 
                  </slide>
                    <slide>
                            <div class="libg03">
                                    <div class="content1">
                                            <div class="title">彩票</div>
                                            <div class="font">
                                                KG彩票、BBIN彩票、LT彩票等等
                                            </div>
                                        </div>
                                    </div> 
                    </slide>
                    <slide>
                            <div class="libg04">
                                    <div class="content1">
                                    <div class="title">电子</div>
                                    <div class="font">
                                        MG、PT、AG、BSG、BBIN、HABA、
                                        <br>PNG、DT、SpadeGaming、GG捕鱼等等
                                    </div>
                                    </div> 
                                </div>
                    </slide>
                  </carousel>
                </div>    
            </div>
  </div>

    </div>
</div>
</div>
</div>