@import 'node_modules/bootstrap/dist/css/bootstrap.css';


.pic1 {position:relative;width:20%;height:280px;float:left;background:url("/src/assets/images/index/block03-img.png") no-repeat;background-position:top center;margin-top:30px;}

.pic1.space{margin-top:120px;float:right;padding:30px 15px;width:100%;}

.f2{font-size:18px;color:#000;text-align:center;line-height:32px;}

.field
{ 
    padding-top:7%;
}
.r3 
{width:100%;padding:30px 0 0 0;background:url(/src/assets/images/index/block04-bg-w.png);background-size:cover;}


.pict1 {position:relative;width:25%;height:280px;float:left;background:url("/src/assets/images/index/tab-4-apgames1.jpg") no-repeat;background-position:top center;margin-top:30px;}

.pict1 .text
{
    padding-top:20% 
}


.pict1 .text1
{
    padding-top:10% 
}

.btnone {
    color:black;
    width:8%;
    margin-top:10%;
    border-color:gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btnone:hover {
    background-color: #555555;
    color: white;
}
.block{position:relative;margin-right:auto;margin-left:auto;width:1140px;height:initial;float:left;margin-left:30px;}

li
{
 list-style-type: none;
}
.main-list{position:relative;float:left;}


.content1
{
    position:relative;width:initial;height:initial;
}

.content1 .title{text-align:left;width:300px;height:30px;font-size:20px;color:#dddddd;line-height:30px;border-bottom:1px solid rgba(225,225,226,0.6);margin-left:100px;margin-bottom:10px;}
.content1 .font{font-size:17px;line-height:30px;color:#fff;margin-bottom:23px;margin-left:100px;}

.block-02{width:100%;height:100%;background:url("/src/assets/images/index/block02-arrow.png") no-repeat center;position:absolute;top:0;z-index:0;}

.box1
{
    width:100%;
    
}



@media screen and (max-width: 1366px) {
    .box1
    {   
       width:100%;
        
    }
    
    .r3 
     {width:100%;padding:30px 0 0 0;background:url(/src/assets/images/index/block04-bg-w.png);background-size:cover;}

    
    .pict1 {position:relative;width:20%;height:30%;margin-right:5%;float:left;background:url("/src/assets/images/index/tab-4-apgames1.jpg") no-repeat;background-position:top center;margin-top:30px;}
    
    .pict1 .text
    {
        padding-top:20% 
    }
    
    
    .pict1 .text1
    {
        padding-top:10% 
    }
    
    .btnone {
        color:black;
        width:20%;
        
        border-color:gray;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
      }
    
      .btnone:hover {
        background-color: #555555;
        color: white;
    }
    h3
    {
       font-size: 10px;
    }
    p 
    {
        font-size:10px;
    }
    
  
}


@media screen and (max-width:768px){
 .box1
{   
   width:100%;
    
}
.r3 
{width:100%;padding:30px 0 0 0;background:url(/src/assets/images/index/block04-bg-w.png);background-size:cover;}


.pict1 {position:relative;width:20%;height:30%;margin-right:5%;float:left;background:url("/src/assets/images/index/tab-4-apgames1.jpg") no-repeat;background-position:top center;margin-top:30px;}

.pict1 .text
{
    padding-top:20% 
}


.pict1 .text1
{
    padding-top:10% 
}

.btnone {
    color:black;
    width:20%;
    
    border-color:gray;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .btnone:hover {
    background-color: #555555;
    color: white;
}
h3
{
   font-size: 10px;
}
p 
{
    font-size:10px;
}

}

@media screen and (max-width: 568px)
{
    .box1
    {   
       width:100%;
        
    }
    
    .r3 
    {width:100%;padding:30px 0 0 0;background:url(/src/assets/images/index/block04-bg-w.png);background-size:cover;}

    .pict1 {position:relative;width:20%;height:30%;margin-right:5%;float:left;background:url("/src/assets/images/index/tab-4-apgames1.jpg") no-repeat;background-position:top center;margin-top:30px;}
    
    .pict1 .text
    {
        padding-top:20% 
    }
    
    
    .pict1 .text1
    {
        padding-top:10% 
    }
    
    .btnone {
        color:black;
        width:20%;
        
        border-color:gray;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
      }
    
      .btnone:hover {
        background-color: #555555;
        color: white;
    }
    h3
    {
       font-size: 10px;
    }
    p 
    {
        font-size:10px;
    }

}