<div class="r3">
        
<div class="box" [@scrollAnimation]="state">
        
                <h1 class="text-center">蟠龙优势<span class="badge badge-secondary"></span></h1><br>
        
        <div class="box1">
<div class="container" style="padding-left: 0;padding-right: 0;" >
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="" >
                <div class=""style="color:white;text-align: center;">
                
                    </div>
        </div>
        <div class="" >
                <div class="pict1"style="color:white;text-align: center;">
                        <h3 class="text">极致纯原生APP</h3>
                        <p class="text1"> 全面支持<br>iOS/Android双平台系统  </p>
                    </div>
        </div>
        <div class="">
          <div class="pict1 " style="color:white;text-align: center;">
                <h3 class="text">极致纯原生APP</h3>
                <p class="text1"> 全面支持<br>iOS/Android双平台系统  </p>
          </div>
        </div>
        <div class="">
                <div class="pict1" style="color:white;text-align: center;">
                        <h3 class="text">极致纯原生APP</h3>
                        <p class="text1"> 全面支持<br>iOS/Android双平台系统  </p>
                    </div>
          </div>
          <div class="">
                <div class="pict1" style="color:white;text-align: center;">
                        <h3 class="text">极致纯原生APP</h3>
                        <p class="text1"> 全面支持<br>iOS/Android双平台系统  </p>
                    </div>
            </div>
            <div class="" >
                    <div class=""style="color:white;text-align: center;">
                      
                        </div>
            </div>
      <div class="" style="text-align:center;padding-top:2%;padding-bottom:2%;" >
            <button class="btn btnone" style="text-align: center" type="submit">More</button>
          </div>
        </div>
</div>   
  </div>
</div>
</div>